<head>
</head>

<body>

  <div class = "container text_centered">

    <div class="image">
      <img src="https://o.aolcdn.com/images/dims3/GLOB/legacy_thumbnail/630x315/format/jpg/quality/85/http%3A%2F%2Fi.huffpost.com%2Fgen%2F1973978%2Fimages%2Fn-LOTTERY-WINNER-628x314.jpg"/>
    </div>

    <div class="text">
      <p> &darr; 버튼을 누르면 추첨합니다 &darr; </p>
    </div>

    <div class = "button">

      <a href = '/home/lotterypage'><img src="https://shop.r10s.jp/e-zakka-asa/cabinet/event/xt80007.jpg" alt="go" width="100" height="100"/></a>

    </div>

    <div class="text">
      <p> &uarr; 버튼을 누르면 추첨합니다 &uarr; </p>
    </div>

    <div class="image">
      <img src="https://o.aolcdn.com/images/dims3/GLOB/legacy_thumbnail/630x315/format/jpg/quality/85/http%3A%2F%2Fi.huffpost.com%2Fgen%2F1973978%2Fimages%2Fn-LOTTERY-WINNER-628x314.jpg"/>
    </div>

  </div>

</body>